*{
  margin:0;
  padding:0;
  box-sizing:none;
}

#header{
  background-color:rgb(52, 52, 52);
  color:white;
  padding:10px;
  position:fixed;
  width:100vw;
}

/* Fix the body and header size calculation */
#body{ 
  display:flex;
  justify-content:space-between;
  height:94vh;
  padding-top:63px;
}

#main-left{
  background-color:rgb(52, 52, 52);
  display:flex;
  flex-direction:column;
}

/* BTN Create */



/*Room Link */

#link-list{
  display:flex;
  flex-direction:column;
  text-align: center;
}

.roomLink{
  color:white;
  text-decoration:none;
  font-size:20px;
  margin:10px 0;
}

.roomLink:hover{
  color:skyblue;
  cursor:pointer;
}